@charset "utf-8";
/* CSS Document */

/*Allgemein jede Seite */
@font-face { font-family: 'BRLNSR';
             src: local('BRLNSR.ttf') format('truetype'); }

body{
	margin: 0px;
	min-width: 100%;
    width: 100%;
    max-width: 100%;

    min-height: 100%;
    height: 100%;
    max-height: 100%;

	background-image: url('../Images/hintergrund.png');
	/*background-repeat: no-repeat;*/

	background-size: 100%;
	font-family: 'Ubuntu', sans-serif;


	background-size: 100%;
}


.headerunterseiten{
	height:150px;
}

.hauptbereichunterseiten{
	float:left;
	top:150px;
	width:1280px;
	height:auto;

}

.lesezeichenunterseiten{
	position:absolute;
	margin-top:130px;
	left:99px;
	float:left;
}

.gluehbirneunterseiten{
	position:absolute;
	left:81px;
}

.lilabannerunterseiten{
	top:0px;
	width:100%;
	height:150px;
	background:#586fb4;
}

.proplan{
	position:absolute;
	margin-left:210px;
	margin-top:80px;
}


.pfad{
	position:absolute;
	left:200px;
	top:160px;
	margin:0px;
	font-family: 'Ubuntu', sans-serif;
	color:#8bc797;
	font-size:22px;
	width:80%;
}

.ueberschrift{
	position:absolute;
	font-family: 'Ubuntu';
	font-weight:800;
	font-size:34px;
  	color:#FFF;
	margin:0px;
	left:420px;
	top:70px;
}

.profil{
	position:absolute;
	left:1000px;
  	top:70px;
}

.logout{
	position:absolute;
	top:82px;
	left:1050px;
}



 /* unvisited link */
a:link {
    color: #8bc797;
	text-decoration: none;
}

/* visited link */
a:visited {
    color: #8bc797;
	text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #6dc77f;
	text-decoration: none;
}

/* selected link */
a:active {
    color: #6dc77f;
	text-decoration: none;
}


 /* unvisited link */
.a1:link {
    color: #586fb4;
	text-decoration: none;
}

/* visited link */
.a1:visited {
    color: #586fb4;
	text-decoration: none;
}

/* mouse over link */
.a1:hover {
    color: #586fb4;
	text-decoration: none;
}

/* selected link */
.a1:active {
    color: #586fb4;
	text-decoration: none;
}



footer{
	float:left;
	margin-left:1000px;
	margin-top:20px;
	padding-bottom:20px;
	font-family: 'Ubuntu', sans-serif;
}


/*Anmeldeseite*/

#lilabereich{
	top:0px;
	width:100%;
	height:350px;
	background:#586fb4;
}


header{
	height:350px;
}

#grafikoben{
	padding-left:150px;
}


#hauptbereich{
	position:absolute;
	top:350px;
}

#formular{
	position:relative;
	top:-300px;
}

#formular1{
	position:relative;
	top:-190px;
}

#lesezeichen{
	margin-top:-20px;
	margin-left:222px;
}

h1{
	padding-left:320px;
	margin-top: -80px;
	font-family: 'Ubuntu', sans-serif;
  	color:#8bc797;
	font-weight: bold;

}

#wasgibtes{
	padding-left:210px;
	padding-top:120px;
}

#klemmbrett{
	padding-left:800px;
	margin-top:-450px;

}

table{
	margin-left:900px;
	margin-top: -105px;
}


#button1 {

    background-color:#8bc797 ;
    color: white;
    padding: 10px 10px 10px 10px;
    margin: 8px 0;
    border: none;
	border-radius:5px;
    cursor: pointer;
    width: 100px;
	font-family: 'Ubuntu', sans-serif;
}

#button1:hover{
     color:#fff;
     background-color:#6dc77f;
}

#button2 {


    background-color:#818eb5 ;
    color: white;
    padding: 10px 10px 10px 10px;
    margin: 8px 0;
    border: none;
	border-radius:5px;
    cursor: pointer;
    width: 100px;
	font-family: 'Ubuntu', sans-serif;

}
#button2:hover{
     color:#fff;
     background-color:#586fb4;
}


#username{
	padding-left:80px;
	margin-top:-120px;
}

#passwort{
	padding-left:80px;
	padding-top:40px;
}

#login{
	padding-left:80px;
	padding-top:25px;
	font-family: 'Ubuntu', sans-serif;
}

#registrieren{
	padding-left:80px;
	padding-top:15px;
}
#registriert{
	margin-left:980px;
    /*margin-top:-70px;*/
	margin-top:-265px;
	font-family: 'Ubuntu', sans-serif;
	font-size:12px;
  	color:#7e7f7e;

}
/*profilseite*/

#profiltabelle{
	font-family: 'Ubuntu', sans-serif;
}

#inneretabelle{
	margin-left: 250px;
	margin-top: 0px;
}
.eingabe{
	float:right;
	margin-left:20px;
	margin-right:20px

}

tbody{
	position:relative;
	top:14px;
}
#button4{
    background-color:#8bc797 ;
    color: white;
    padding:0px;
    margin: 0px ;
	margin-top: 5px;
    border: none;
	border-radius:5px;
    cursor: pointer;
    width: 106px;
	height:25px;
	font-family: 'Ubuntu', sans-serif;
	font-size:10px;

}

#profilbild_upload{
	font-family: 'Ubuntu', sans-serif;
	margin-left:40px;
	margin-top:0px;
	width:200px;
}
#profilbild{
	margin-top:-110px;
	margin-left:40px;
	border:1px solid #000000;
	position:relative;
	width:100px;
	height:110px;
}
#pBeschriftung{
	margin-top:5px;
}

/*Meine Projekte Seite*/


.ordnerGruen{
	float:left;
	margin-left:20px;
	width:200px;
	height:175px;
	font-family: 'Ubuntu', sans-serif;
}

#ordnerGrau{
	float:left;
	margin-left:20px;
	width:200px;
}

#alleOrdner{

	margin-left:180px;
	width:900px;
	margin-top:40px;
}


#projektname{
	position:relative;
	margin:0px;
	margin-top:-70px;
	text-align:center;
	}
/*neuesProjekt*/
#neuesProjekt {
    position:absolute;
	height:300px;
	width:500px;
	margin-top:200px;
	margin-left:-50px;

}



/*projektseite*/

.buttontodo{
    background-color:#transparent ;
    color: white;
    padding: 0;
    margin-top: -10px;
    border: none;
    cursor: pointer;
	width: 50px;
	height: 50px;
}

.buttontodoerledigt{
	background-color:#transparent ;
    color: white;
    padding: 0;
    border: none;
	width: 50px;
	height: 50px;
	float:left;
	padding-right:60px;
}

#inhalt{
	float:left;
	width:650px;
	height:auto;
	border: 1px solid #000000;
	margin-left:127px;
	margin-top:100px;
	margin-bottom:40px;
	min-height:370px;
	background-color:#eeeff0;
}

#todo{
	float:left;
	width:650px;
	height:auto;
	border: 1px solid #000000;
	margin-left:127px;
	margin-top:50px;
	margin-bottom:40px;
	min-height:370px;
	background-color:#eeeff0;
	clear:both;
}


#textareatodo {
    overflow: auto;
	resize: none;
    position: relative;
    top: 20px;
	left: 20px;
}

.textareatermin {
    overflow: auto;
	resize: none;
    position: relative;
    top: 20px;
	left: 20px;
}

#uebrigeZeichen{
    height: 50px;
    position: relative;
    top: 20px;
	left:20px;
    width: 400px;
}

#hinweis{
    height: 50px;
    position: relative;
    top: 20px;
	left:20px;
    width: 400px;

}

.labeltermin{
	left: 28px;
    position: relative;
    top: -30px;
}

.uhrzeit_stunde{
	left:-20px;
    position: relative;
	width:50px;
}

.uhrzeit_minute{
	left:-20px;
    position: relative;
	width:50px;
}

.buttonForm{
	background-color:#8bc797 ;
    color: white;
    padding: 10px 10px 10px 10px;
    margin: 8px 0;
    border: none;
	border-radius:5px;
    cursor: pointer;
    width: 200px;
	font-family: 'Ubuntu', sans-serif;
	position:relative;
	top:20px;
	left:20px;
	clear:both;
}


.buttonForm:hover{
     color:#fff;
     background-color:#586fb4;
}

.aufgabetext{
	width:450px;
	position:relative;
	top: -5px;
}

.aufgabetexthoeher{
	width:450px;
	position:relative;
	top:-20px;
}

h3{
	width:1100px;
	background:#586fb4;
	color:#8bc797;
	margin:0px;
    font-family: 'Ubuntu', sans-serif;
	padding-left:10px;
	font-size:22px;
	height:75px;
	display: table-cell;
	vertical-align: middle;
}

h4{
	width:1153px;
	background:#586fb4;
	color:#8bc797;
	margin:0px;
	padding-left:10px;
	font-size:25px;
	height:75px;
	display: table-cell;
	vertical-align: middle;
}

.listetodo{
	width:610px;
	height:35px;
	background-color:#eeeff0;
	font-size:20px;
	margin-top:30px;
	position:relative;
	margin-left:20px;
	border-bottom: 1px solid;
}


.zeichen{
	position:absolute;
	left:450px;
	top:-10px;
}

.einstellungform{
	background: transparent none repeat scroll 0 0;
    float: right;
    margin: 10px 10px 0 0;
    padding: 0;
}

.einstellbutton{
    background: transparent none repeat scroll 0 0;
    border: medium none;
    cursor: pointer;
    height: 40px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 40px;
}

/*Forum*/
#forum{
	clear:both;
	top:40px;
	width:1148px;
	height:auto;
	border: 1px solid #000000;
	margin-left:127px;
	background-color:#eeeff0;
}

.thema{
	width:1113px;
	background-color:#eeeff0;
	border-bottom: 1px solid #000000;
	font-size:18px;
	position:relative;
	margin-left:20px;
	min-height:50px;
	height:auto;
}

.neuesButton{
	margin-left:20px;
}

#button3 {

    background-color:#8bc797 ;
    color: white;
    padding: 10px 10px 10px 10px;
    margin: 8px 0;
    border: none;
	border-radius:5px;
    cursor: pointer;
    width: 200px;
	font-family: 'Ubuntu', sans-serif;
}

#button3:hover{
     color:#fff;
     background-color:#586fb4;
}


.formthema{
	min-height:50px;
	width:auto;
	max-width:650px;
	margin:0px;
	height:auto;
	display:block;
	float:left;
	text-align:left;
}

.informationThema{
	float: right;
    right: 5px;
	margin-top:12px;
}

.mittig{
	margin-top:12px;
}


/*kalender - gehoert zur Projektseite*/
.calender {
    width:455px;
    border:1px solid black;
	background-color:#eeeff0;
	float:left;
	margin-left:40px;
	margin-top:50px;
	margin-bottom:40px;
	min-height:325px;
}
* html .calender,
* + html .calender {
    width:453px;
}
.calender div.after,
.calender div.before{
    color:silver;
}
.day {
    float:left;
    width:65px;
    height:40px;
    line-height: 40px;
    text-align: center;
	font-size:18px;
}
.day.headline {
    background:#586fb4;
	color:#8bc797;
}

.day.normalprojektBeginn{
	background-color:#8bc797;
}

.day.normalprojektEnde{
	background-color:#586fb4;
}

.day.current {
    font-weight:bold;
	font-size:25px;
}

.day.currentprojektBeginn {
    font-weight:bold;
	background-color:#8bc797;
	font-size:25px;
}

.day.currentprojektEnde {
    font-weight:bold;
	background-color:#586fb4;
	font-size:25px;
}

.day.eintrag{
	color:red;
}


.day.eintragheutigerTag{
	color:red;
	font-weight:bold;
	font-size:25px;
}

.day.eintragheutigerTagprojektBeginn{
	background-color:#8bc797;
	color:red;
	font-weight:bold;
	font-size:25px;
}

.day.eintragheutigerTagprojektEnde{
	background-color:#586fb4;
	color:red;
	font-weight:bold;
	font-size:25px;
}

.day.eintragprojektBeginn{
	background-color:#8bc797;
	color:red;
}

.day.eintragprojektEnde{
	background-color:#586fb4;
	color:red;
}

.clear {
    clear:left;
}
.pagination {
    text-align: center;
    height:35px;
    line-height:20px;
    font-weight: bold;
	background-color:#586fb4;
}
.pagihead {
   display:inline-block;
   background: #586fb4;
   width: 200px;
   height: 35px;
   color: #8bc797;
   font-size:22px;
	margin-top:10px;
}
.pagination a {
    width:20px;
    height:20px;
}


.hovereintrag {
	position: relative;
	width: 250px;
	height:auto;
	top: 0px;
	right:190px;
	background-color: #eeeff0;
	border: 1px solid #000000;
	display: none;
	color:#000000;
	font-weight:normal;
	font-size:18px;
	z-index:2;
	line-height: 25px;
}

.hovereintragdreieck {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;

	border-bottom: 6px solid #eeeff0;
	content: "";
	position:relative;
	top:8px;
	left:25px;
	display: none;
	z-index:3;
}

.hovereintragdreieckinnen {
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;

	border-bottom: 7px solid #000000;
	content: "";
	position:relative;
	top:1px;
	left:24px;
	display: none;

}

/** Hier werden einfach alle moeglichen Klassen im Kalender die einen Eintrag haben koennen nach Hover abgefragt **/


.formkalender:hover .hovereintragdreieck, .formkalender:hover .hovereintragdreieckinnen, .formkalender:hover .hovereintrag{
	display: block;
}


.day.currentprojektBeginn:hover .hovereintragdreieck, .day.currentprojektBeginn:hover .hovereintragdreieckinnen, .day.currentprojektBeginn:hover .hovereintrag{
	display: block;
}


.day.currentprojektEnde:hover .hovereintragdreieck, .day.currentprojektEnde:hover .hovereintragdreieckinnen, .day.currentprojektEnde:hover .hovereintrag {
	display: block;
}

.day.normalprojektBeginn:hover .hovereintragdreieck, .day.normalprojektBeginn:hover .hovereintragdreieckinnen, .day.normalprojektBeginn:hover .hovereintrag{
	display: block;
}

.day.normalprojektEnde:hover .hovereintragdreieck, .day.normalprojektEnde:hover .hovereintragdreieckinnen, .day.normalprojektEnde:hover .hovereintrag {
	display: block;
}



.buttonkalender{
	border:none;
	outline:none;
	background:none;
	cursor:pointer;
	padding:0px;
	font-family:inherit;
	font-size:inherit;
	height:40px;
	width:65px;
	position:relative;
	top:-1px;
}

.formkalender{
	float:left;
	height:40px;
	width:65px;
	margin:0px;
}

h5{
	margin:0px;
	padding-left:20px;
	padding-top: 20px;
	font-size:22px;
	display: table-cell;
	vertical-align: middle;
}


/* Kontakt + Kontakt*/
.formularfeld{
    width: 650px;
    float:left;
    height:auto;
    margin-left:127px;
  	margin-top:100px;
    border: 1px solid #000000;
    margin-bottom:40px;
    padding-bottom: 15px;
    min-height:370px;
    background-color:#eeeff0;
    clear:both;

}

.formularinhalt{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
}

.formularzeile {
    padding-bottom: 15px;
    padding-top: 15px;
}

.textfeld {
    float: right;
    clear: both;
    width: 230px;
    height: 20px;
    border: 1px;
    border-style: solid;
    border-color: #7e7f7e;
    border-radius: 7px;
}

.text {
    float: right;
    clear: both;
    width: 230px;
    height: 230px;
    border: 1px;
    border-style: solid;
    border-color: #7e7f7e;
    border-radius: 7px;
}

#schrift {
    font-family: 'Ubuntu', sans-serif;
	  font-size:16px;
    color:#7e7f7e;
}

#kleineSchrift {
    font-family: 'Ubuntu', sans-serif;
    font-size:12px;
    color:#7e7f7e;
}

#submit {
    float: right;
    margin-top: 10px;
    margin-left: 150px;
}

/* Registrierung */

#rechtsbuendig {
    float: right;
}

.button {
    float:right;
    clear: both;
    font-size:20px;
    width: 160px;
    font-family: 'Ubuntu', sans-serif;
  	color:#8bc797;
    border: 1px;
    border-style: solid;
    border-radius:20px;
    background-color: #fff;
    border-color: #7e7f7e;
    padding-bottom: 5px;
    padding-top: 5px;
	margin-top:5px;
}

/*Forum*/
#beitraege{
	float:left;
	height:auto;
	width:1100px;
	margin-left:127px;
	margin-top:100px;
}
.beitrag {
    float: left;
    width:1100px;
    height:auto;
	  min-height:250px;
    border:1px #586fb4 solid;
    background-color: #efefef;
    margin-bottom:40px;
    border-radius: 7px;

}

.userbild {
    margin: 20px 25px;
    background-color:white;
    width:100px;
    height:110px;
    border: 1px solid;
    border-radius: 7px;
}


#textareaforum {
    overflow: auto;
	resize: none;
    position: relative;
	width:1100px;
	height:150px;
    border:1px #586fb4 solid;
    background-color: #efefef;
    margin-bottom: 5px;
    border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding:5px;
	margin:0px;
}



.forumlinks{
	float:left;
	width:150px;
}

.forumrechts{
	float:right;
	width:948px;
}


.nutzer {
    width: 140px;
    margin: 5px;
	height:100px;
}

.leiste {
	width:1100px;
	background:#586fb4;
	color:#8bc797;
	margin:0px;
	padding-right:10px;
	font-size:18px;
	height:35px;
	display: table-cell;
	vertical-align: middle;
	border-top-right-radius:6px;
	border-left: 1px solid #000000;
	text-align:right;
}

.textforum {
    width: 938px;
    height: auto;
	min-height:222px;
    border-left: 1px solid #000000;
	padding: 5px;
}

.buttonforum{
	border:none;
	outline:none;
	background:none;
	cursor:pointer;
	padding:0px;
	font-family:inherit;
	font-size:inherit;
	color: #8bc797;
}

.buttonforum:hover{
	color: #6dc77f;
}

.formForum{
	margin:0px;
	float:right;
}

#beitragBearbeiten{
	width:1100px;
	height:auto;
	border: 1px solid #586fb4;
	margin-left:127px;
	margin-top:100px;
	min-height:225px;
	border-radius:7px;
}

h6{
	width:1100px;
	background:#586fb4;
	color:#8bc797;
	margin:0px;
	padding-left:10px;
	font-size:25px;
	height:75px;
	display: table-cell;
	vertical-align: middle;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	font-family: 'Ubuntu', sans-serif;
}

.forumformBeitragBearbeiten{
	height: 150px;
    margin: 0;
}

.forumformNeuesThema{
	height: 150px;
    margin: 0;
}

#themaName{
	background-color:#efefef;
	border: 0px;
	font-family:inherit;
	font-size:inherit;
	height:25px;
	color:#8bc797;
	width:650px;
	font-family: 'Ubuntu', sans-serif;
}

/**Neues Projekt**/

#ordnerBild{
	margin-top:5px;
	margin-left:5px;
	float:left;
}

#neueProjektTabelle{
	font-family: 'Ubuntu', sans-serif;
	margin:0px;
	padding:0px;
}

#formularProjekt{
	float:right;
	margin-right:50px;
	margin-top:5px;
}

.eingabeProjekt{
	float:right;
}

#pName{
	margin-left:-210px;
	height:25px;
	width:210px;
}

#neuerProjektbutton{
	padding-left:130px;

}

.datumfeld{
	width:60px;
	height:25px;
	float:right;
	margin-left:22.5px;
	margin-right:-5px;
}

.textareaprojekt{
    overflow: auto;
	resize: none;
    position: relative;
	left: 5px;
}

/** Einstellungen**/

.eintraege{
	margin-bottom:20px;
	clear:both;
}

.prEinstellungForm{
	margin: 15px 15px 0;
}

.projektInput{
    float: left;
    height: 25px;
    margin-right: 18px;
	width:216px;
	font-family: 'Ubuntu', sans-serif;
}

.datumInput{
	margin-right: 14px;
    width: 60px;
	height:25px;
	font-family: 'Ubuntu', sans-serif;
}

.inputSchrift{
	float:left;
	width:150px;
	font-family: 'Ubuntu', sans-serif;
}

#button6{
	background-color:#8bc797 ;
    color: white;
    padding:0px;
    margin: 0px ;
	margin-top: 0px;
    border: none;
	border-radius:5px;
    cursor: pointer;
    width: 106px;
	height:25px;
	font-family: 'Ubuntu', sans-serif;
	font-size:10px;
}

#button7{
	background-color:#8bc797 ;
    color: white;
    padding:0px;
    margin: 0px ;
	margin-top: -100px;
    border: none;
	border-radius:5px;
    cursor: pointer;
    width: 106px;
	height:25px;
	font-family: 'Ubuntu', sans-serif;
	font-size:10px;
}

.textareaprojekteinstellungen{
    overflow: auto;
	resize: none;
    position: relative;
	margin-right:15px;
	font-family: 'Ubuntu', sans-serif;
}

.hinweistext{
	margin-left: 150px;
}

/** Projekteinstellung**/

.jahrmonattag{
    float: left;
    margin-right: 18px;
    width: 60px;
}

.wrap{
	height: 25px;
    margin-left: 150px;
    position: relative;
    width: 240px;
}

/*Impressum*/

.impressum{
	margin-left:130px;
	margin-top:125px;
	font-family: 'Ubuntu', sans-serif;
	color:#586eb3;
}
